# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

*.zip
gradlew
gradlew.bat
gradle/*
README.txt
mcmodsrepo/*
CREDITS.txt
changelog.txt